params {

    // =========================================================================
    // Container
    // =========================================================================

    regenie_image =
        'ghcr.io/shiyuzhang0522/regenie:4.1.2'


    // =========================================================================
    // Output directory
    // =========================================================================

    outdir =
        'REGENIE.Step1.results'


    // =========================================================================
    // REGENIE Step 1 parameters
    // =========================================================================

    bsize =
        1000

}


process {

    // =========================================================================
    // General process settings
    // =========================================================================

    errorStrategy = 'terminate'


    // =========================================================================
    // REGENIE Step 1
    // =========================================================================

    withName: REGENIE_STEP1 {

        cpus =
            16

        memory =
            '100 GB'

        time =
            '7d'
    }

}


profiles {

    // =========================================================================
    // CloudOS Docker profile
    // =========================================================================

    docker {

        docker.enabled = true

        process.container = params.regenie_image

    }

}