/*
===============================================================================
Genomics England CloudOS GWAS / REGENIE

Task 2:
REGENIE Step 2 Genome-wide association testing

Configuration:
- REGENIE v4.1.2 container
- CloudOS Docker execution
- chr1-22 parallel jobs

===============================================================================
*/


params {


// ============================================================================
// Container
// ============================================================================

regenie_image =
    'ghcr.io/shiyuzhang0522/regenie:4.1.2'



// ============================================================================
// Output directory
// ============================================================================

outdir =
    'regenie.step2.GWAS'



// ============================================================================
// REGENIE Step 2 parameters
// ============================================================================

bsize =
    400

}



process {


// ============================================================================
// General process settings
// ============================================================================

errorStrategy =
    'terminate'



// ============================================================================
// REGENIE Step 2
// ============================================================================

withName: REGENIE_STEP2 {


    cpus =
        16


    memory =
        '40 GB'


    time =
        '7d'

}

}



profiles {


// ============================================================================
// CloudOS Docker profile
// ============================================================================

docker {


    docker.enabled =
        true


    process.container =
        params.regenie_image

}

}