/*
============================================================

GEL AggV3 VEP Annotation Extractor

Nextflow configuration

Platform:
    Genomics England CloudOS
    AWS Batch executor

Container:
    ghcr.io/shiyuzhang0522/gel-vep-extractor:v1.1.0

Author:
    Shiyu Zhang

Version:
    v1.0.0

============================================================
*/


//////////////////////////////////////////////////////////////
// Executor configuration
//////////////////////////////////////////////////////////////

process {

    executor = 'awsbatch'

    errorStrategy = 'terminate'

    maxRetries = 1


    /*
    ----------------------------------------------------------
    VEP annotation extraction

    One task:
        one functional annotation subshard

    Resources:
        CPU      4
        Memory   8 GB
        Time     48 h

    ----------------------------------------------------------
    */


    withName: EXTRACT_VEP_ANNOTATION {


        container =
        'ghcr.io/shiyuzhang0522/gel-vep-extractor:v1.1.0'


        cpus = 4


        memory = '8 GB'


        time = '48h'


    }



    /*
    ----------------------------------------------------------
    Summary collector

    ----------------------------------------------------------
    */


    withName: SUMMARY {

        container ='ghcr.io/shiyuzhang0522/gel-vep-extractor:v1.1.0'


        cpus = 1


        memory = '2 GB'


        time = '1h'


    }

}



//////////////////////////////////////////////////////////////
// Docker configuration
//////////////////////////////////////////////////////////////

docker {

    enabled = true

}



//////////////////////////////////////////////////////////////
// AWS Batch configuration
//////////////////////////////////////////////////////////////

aws {


    region = 'eu-west-2'


}



//////////////////////////////////////////////////////////////
// Work directory
//////////////////////////////////////////////////////////////

workDir =
'work'



//////////////////////////////////////////////////////////////
// Pipeline parameters
//////////////////////////////////////////////////////////////

params {


    /*
    Output directory

    Can be overwritten from CloudOS UI:
        --outdir results

    */

    outdir = 'results'



}



//////////////////////////////////////////////////////////////
// Reproducibility / reporting
//////////////////////////////////////////////////////////////

timeline {

    enabled = true

    file = "${params.outdir}/pipeline_timeline.html"

}



report {

    enabled = true

    file = "${params.outdir}/pipeline_report.html"

}



trace {

    enabled = true

    file = "${params.outdir}/pipeline_trace.txt"

}



dag {

    enabled = true

    file = "${params.outdir}/pipeline_dag.html"

}