params {

    // Container
    plink2_image = 'ghcr.io/shiyuzhang0522/gel-gwas-regenie-plink2:alpha7-20260808'

    // Default LD-pruning parameters
    window = '500kb'
    r2     = 0.2

    // Output directory
    outdir = 'results'
}


process {

    errorStrategy = 'terminate'

    withName: LD_PRUNE {
        cpus   = 4
        memory = '16 GB'
    }

    withName: COMBINE_PRUNED_LISTS {
        cpus   = 1
        memory = '2 GB'
    }
}


profiles {

    docker {

        docker.enabled = true

        process.container = params.plink2_image
    }
}